.comment-form-wrapper{
    display: flex;
    direction: ltr;
    margin-top: 1vh;
}

.image-wrapper{
    padding : 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex-wrap: wrap;
}

.pfp-image{
    border-radius: 10%;
}

.input-wrapper{
    padding : 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    flex : auto;
}

.form-control{
    background-color: rgb(240, 240, 240);
}

.form-control:hover{
    background-color: white;
}