.comment-wrapper{
    padding: 5px;
}

.comment-header{
    display: flex;
    direction: ltr;
    gap : 1vh
}

.pfp-img-wrapper{
    flex-wrap: wrap;
}


.pfp-img{
    border-radius: 50%;
}

.user-name{
    flex : 1;
    font-weight: 500;
}
.comment-date{
    flex-wrap: wrap;
    text-align: right;
    font-weight: 600;
    font-size: smaller;
}

.comment-body{
    border-radius: 7px;
    width: 100%;
}

.comment-text{
    margin: 1vh;
    padding: 1vw;
    border-radius : 5px;
    background-color: white;
    width: fit-content;
}

.badge-secondary{
    background-color: rgba(0,0,0,0);
    color : rgb(255, 102, 179);
    font-weight: 200;
    border: 0.5px rgb(255, 102, 179) solid;     
}
